
.jumbotron{
  background-image: url(../img/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  height:70vh;
  margin: 0vh;
  padding-right: 0px;
  background-size: cover;

}
/* .col-md-3{
  border: 1px solid red;
  margin:0px;
}

 */
 .col-md-3{
   padding: 0px;
   margin: 0%;
   text-align: center;

 }
.tworows{
  height: 100%;
  margin: 0px;
  text-align: center;
   font-size: 16px;
}
.party{
  height: 60px;
  background-color: #ff7433;
    margin: 0px;
}
.happy{
  height: 60px;
    margin: 0px;
  background-color: #f1e9e5;
}
#breakfast{
  background-image: url(../img/foodtop/breakfast.jpg);
	background-size: cover;
	padding: 50px;
  margin: 0px;
  color: white;
}
#lunch{
	background-image: url(../img/foodtop/lunch.jpg);
	background-size: cover;
	padding: 50px;
    margin: 0px;
    color: white;
}
#dinner{
	background-image: url(../img/foodtop/dinner2.jpg);
	background-size: cover;
	padding: 50px;
  margin: 0px;
  color: white;
}
.logo{
padding-left: 40%;
padding-bottom: 0%;
padding-top: 0%;
}

.body {
    color: white
    margin: 0;
 padding: 0;
}

.head{
    text-align: center;
    color: white;
    font-family: 'Caveat', cursive;
    padding-left: 5%;
    font-size: 30px;

}
.container-fluid{
  width:100%;
  margin-top: 0%;
 padding: 0;
}
.row{
margin: 0%;
}
