.jumbotron{
  background-image: url(../img/backgrounds/landing.jpg)
}
.class,.party{
	padding-top: 45px;
	padding-bottom: 45px;
}
#breakfast{
  background-image: url(../img/foodtop/breakfast.jpg);
	background-size: cover;
	padding: 45px;
}
#lunch{
	background-image: url(../img/foodtop/lunch.jpg);
	background-size: cover;
	padding: 45px;
}
#dinner{
	background-image: url(../img/foodtop/dinner.jpg);
	background-size: cover;
	padding: 45px;
}
.logo{
padding-left: 40%;
padding-top: 10%;
}

.body {
    color: white
}

.head{
    text-align: center;
    color: white
    font-family: 'Caveat', cursive;
    padding-left: 5%;

}
.col-md-3{
  padding: 0px;
}
